{% extends 'Iris/layout.html' %}
{% block title %}IRIS{% endblock %}
{% block styleblock %}
  <style type="text/css">

  </style>
{% endblock %}
{% block content %}


<div class="row3">
  <div class="col-12 text-left">
      <div class="p text-secondary" style="font-family:cursive; font-size: larger;">
                        
      <div class="p p-5 text-secondary text-center" style="font-family:fantasy; font-size:xx-large">“Being rare is about being <br>
          comfortable with yourself.<br> I've stopped trying to be perfect. <br> I just want to be me.”</div>
        <img src="static/images/2.jpg" class="pic1" style="width:80% ;height:80%; margin-left: 10%;"> <br><br><br>   
        <div class="col-12 container  text-dark text-center"style="font-size:150% ;">
         <pre> IRIS is breaking down unrealistic standards of perfection.
          This is makeup made to feel good in, 
          without hiding what makes you unique—because
          IRIS is not about being someone else,
           but being who you are.
        </pre><br><br>
        </div></div>

  <div class="p container p-5 text-dark text-center" style="font-family:monospace;font-size: x-large; ">
           <h5>Our Mission</h5><br><br>
          We are on a mission to help everyone celebrate their individuality by redefining what beautiful means. We want to promote self-acceptance and give people the tools they need to feel less alone in the world. <br>

          Our vision is to create a safe, welcoming space in beauty—and beyond—that supports mental well-being across age, gender identity, sexual orientation, race, cultural background, physical or mental ability, and perspective. <br><br>

          We believe in the beauty of imperfections.<br>
          We nurture a caring, respectful community.<br> 
          We create meaningful connections and relationships. <br>
          We champion authenticity and positivity.<br>
          We lead with transparency to build trust.<br>
          We believe there is power in being vulnerable.<br>
      </div>
      <hr>
      <br><br>
      <h3 class="text-center " style="font-family:monospace; color:rgb(169, 114, 114);" >CONTACT US </h3>
      <br><br>
      <h6 class="text-center p-3" style="color:rgb(169, 114, 114);">
        <img src="static/images/envelope.png" style="height:50px; width:50px;">&nbsp;&nbsp;iris@gmail.com<br><br>
        <img src="static/images/facebook.png"style="height:50px; width:50px;">&nbsp;&nbsp;cosmoIris@facebook.com<br><br>
        <img src="static/images/twitter.png" style="height:50px; width:50px;">&nbsp;&nbsp;cosomoIRIS@twitter.com<br><br>
        <img src="static/images/instagram.png" style="height:50px; width:50px;">&nbsp;&nbsp;cosmoiris@insta.com</h6><br><br><br><br>
</div>
</div>

  
{% endblock %}
{% block scriptblock %}

  


</script>
{% endblock %}
          
            