<html>
<head>
<title>FORM</title>
<link rel="stylesheet" href="">
</head>
<body>
    <header>PERSONAL DETAILS FORM</header><br><br>
    <div class="form align-items-center" >
<form>
    <input type="name" placeholder="NAME"><br><br><br>
    <input type="text-box" placeholder="ID"><br><br><br>
    <input type="number" placeholder="MOBILE NUMBER"><br><br><br>
    <input type="email" placeholder="MAIL ID"> <br><br><br>
    <input type="address" placeholder="ADDRESS"> <br><br><br>
    <input type="password" placeholder="PASSWORD"><br><br><br>
    DATE OF BIRTH : <br><br>
    <input type="date" value="date"><br><br>  
    GENDER:<br><br>
    <input type="radio" id="male" name="gender" value="male">MALE
    <input type="radio" id="female" name="gender" value="female">FEMALE<br><br>
    Are you a Physically Challenged persons?<br><br>
    <input type="radio" id="type" name="abled">YES
    <input type="radio" id="type" name="abled">NO<br><br>
    SELECT YOUR ID TO UPLOAD <br><br>
    <select> SELECT YOUR ID TO UPLOAD 
        <option value="aadhar"> aadhar</option>
        <option value="passport"> passport</option>
        <option value="ration card"> ration card</option>
        <option value="pan card"> pan card</option>
        <option value="marksheet">marksheet</option>
    </select><br><br>
    UPLOAD YOUR DOCUMENT HERE<br><br>
    <input type="file" name="files" ><br><br>
    <input type="button" value="upload"><br><br>
    SELECT YOUR HOBBIES: <br>
    <input type="checkbox" value="dance">dance<br>
    <input type="checkbox" value="art">art<br>
    <input type="checkbox" value="singing">singing<br>
    <input type="checkbox" value="reading books">reading books<br><br><br>
    <input type="submit" value="submit"><br><br>
</form>
</div>
    </body>
    </html>
