<html>
<head>
<title>FORM</title>
<link rel="stylesheet" href="formstylesheet.css">
</head>
<body>
    <h1>PERSONAL DETAILS FORM</h1><br><br>
    <div class="form text-align:center">
<form><br><br>
    <div class="form1 style=width:800px; margin:0 auto">
        <br><br>
    
    NAME:<aside><input type="name" placeholder="NAME"><br><br><br></aside>
    
    ID:<aside><input type="text-box" placeholder="ID"><br><br><br></aside>
   
    PHN.NO:<aside><input type="number" placeholder="MOBILE NUMBER"><br><br><br></aside>
   
    MAIL ID:<aside><input type="email" placeholder="MAIL ID"> <br><br><br></aside>
    CITY:<select> 
        <option value="Chennai">Chennai</option>
        <option value="Vellore">Vellore</option>
        <option value="Coimbatore">Coimbatore</option>
        <option value="Madurai">Madurai</option>
        <option value="Kanyakumari">Kanyakumari</option>
        <option value="Salem">Salem</option>
        <option value="Puducherry">Puducherry</option>
        <option value="Kanchipuram">Kanchipuram</option>
        </select> <br><br><br>
    
        <aside><input type="address" placeholder="ADDRESS"> <br><br></aside>
    
            <aside><input type="password " placeholder="PASSWORD"><br><br><br></aside>
    
  
    <aside>DATE OF BIRTH : <br><br><input type="date" value="dateofbirth"><br><br>  
    GENDER:<br><br><input type="radio" id="male" name="gender" value="male">MALE
    <input type="radio" id="female" name="gender" value="female">FEMALE<br><br></aside>
    <aside>
     ID TYPE: <select> 
        <option value="passport"> passport</option>
        <option value="ration card"> ration card</option>
        <option value="pan card"> pan card</option>
        <option value="marksheet">marksheet</option>
    </select><br><br></aside>
    
       UPLOAD HERE:<br><br><aside><input type="file" name="files" ></aside><br><br>
    <input type="button" value="upload" name="upload" class="upload"><br><br>
    <br><br>

   
   HOBBIES: <br><br>  <input type="checkbox" value="dance">dance<br>
<input type="checkbox" value="art">art<br>
<input type="checkbox" value="singing">singing<br>
<input type="checkbox" value="reading books">reading books<br><br><br>
               <input type="submit" value="submit" name="submit" class="submit"><br><br><br><br>
               </div>
</form>
</div>
</body>
</html>
    </body>
    </html>
