<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E COMMERCE WEBSITE</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylestart.css">
</head>

<body>
    <div class=" grid container p50">
   <h1>MAKEOID</h1> 
   <p>let us start learning</p>

<div class=" grid container">
    <div class="row align-items-center ">
        <div class="col">LOGO</div>
        <div class="col">
           <ul>
                <li>home</li>
            <li>about</li>
            <li>contact</li></ul>
            </div>
        <div class="col">
            <button>login</button>
        </div>
    
</div>
<div class="row align-items-center ">
    <div class="col offset-2 bg">
        <ol>
            <li>SHOPPING</li>
            <li>CART</li>
            <li>CHECKOUT</li>
        </ol>
    </div>

    <div class="col offset-5 bg">

        <image src="https://tse3.mm.bing.net/th?id=OIP.J7f7fcsn3YMuK_KGF_GZ0gHaJ4&pid=Api&P=0&h=180"></image>
         $20 
        EYELINER
        <image src="https://th.bing.com/th/id/OIP.32PlKlJrBgwQeDMRFCymzgAAAA?w=244&h=195&c=7&r=0&o=5&dpr=1.3&pid=1.7"></image>
        $30 
         EYE SHADOW 
         <image src="https://th.bing.com/th/id/OIP.fejwUPonS9ffGFGDYwNuHgHaE8?w=272&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7"></image>
        $30
             BB CREAM
             <image src="https://tse1.mm.bing.net/th?id=OIP.9MAdqRE9i9GJb70tFfWFBgHaHa&pid=Api&P=0&h=180"></image>
        <pre>$30 
            SERUM
    </div>

        <image src="https://tse2.mm.bing.net/th?id=OIP.RogwBn4TR1XaKjRk8TCEMwHaGF&pid=Api&P=0&h=180"></image>
       $30
         LIPSTICK
        <image src="https://tse3.mm.bing.net/th?id=OIP.X2wo0YJgeyqoHg8HzFGqVQHaHa&pid=Api&P=0&h=180"></image> 
        $30
            MASCARA
        <image src="https://tse2.explicit.bing.net/th?id=OIP.xYM6LZrTSm7VuNRpW1d5RAHaJ4&pid=Api&P=0&h=180"></image>
        $30 
            BLUSH
        <image src="https://tse1.explicit.bing.net/th?id=OIP.qkVIr9x0VkrLjDAFXSv-ygAAAA&pid=Api&P=0&h=180"></image>
        $30 
        FOUNDATION

    </div>

<div class="row bg1">HOPE YOU LIKE YOUR SERVICE! THANK YOU FOR EVERYTRHING THAT YOU DONE BY US</div>

   <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/jquery.min.js"></script>

</body>

</html>
