<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ADMISSION FORM </title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="ordinaryform1.css">
    </head>
    <body>        
        
        <div class=" grid container p50 xx">
            
            <div class="head"><p><img src="https://1.bp.blogspot.com/-ts9m_o1J6Wg/XnHO0JmnTvI/AAAAAAAA1QQ/vOrQPg62o3wvqnPPwAzStsx_ruf8QHksQCLcBGAsYHQ/s320/images%2B%252829%2529.jpeg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SRI KRISHNA ARTS AND SCIENCE COLLEGE,Kuniyamuthur, palakad road,opp to HP pertrol bunk,641008</p></div>
            <h1>ADMISSION FORM</h1><br><br>
        </div><br>
    
    <div class="part1 xx">
            <div class="row1 xx">
                <div class="col1 xx"><h2><br>NAME:</h2></div>   <div class="col2 xx"><input type="name" placeholder="NAME" class="al"></div>
            </div></div><br>


            <div class="part2 xx">
                <div class="row2 xx">  
                    <div class="col1 xx"><h2><br>MAIL ID:</h2></div>  <div class="col2 xx"><input type="email" placeholder="MAIL ID" class="al"></div>
            </div></div><br>


            <div class="part3 xx">
                <div class="row3 xx">  
                    <div class="col1 xx"><h2><br>PASSWORD:</h2></div>  <div class="col2 xx"><input type="password " placeholder="PASSWORD" class="al"></div>
                </div></div><br>
                <div class="part11 xx">
                    <div class="row11 xx"> 
                    <div class="col1 xx"><h2><br>DATE OF BIRTH:</h2></div>   <div class="col2 xx"><input type="date" value="dateofbirth" class="da"></div>
           </div></div><br>

           <div class="part10 xx">
            <div class="row10 xx">  
                <div class="col1 xx"><h2><br>GENDER:</h2></div>   
            <div class="col2 xx">
                <input type="radio" id="male" name="gender" value="male" class="ge" >MALE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" id="female" name="gender" value="female" class="ge">FEMALE</div></div></div><br>

                <div class="part4 xx">
                <div class="row4 xx">  
                    <div class="col1 xx"><h2> <br>MOBILE.NO:</h2></div>  <div class="col2 xx"> <input type="number" placeholder="MOBILE.NO" class="al"></div>
                </div></div><br>


                <div class="part5 xx">
                <div class="row5 xx">
                      <div class="col1 xx"><h2><br>FATHER'S NAME:</h2></div>   <div class="col2 xx"><input type="name" placeholder=" FATHER'S NAME" class="al"></div>
                    </div></div><br>


                    <div class="part6 xx">
                <div class="row6 xx"> 
                     <div class="col1 xx"><h2><br>MOTHER'S NAME:</h2></div>   <div class="col2 xx"><input type="name" placeholder="MOTHER'S NAME" class="al"></div>
                    </div></div><br>


                    <div class="part7 xx">
                <div class="row7 xx"> 
                     <div class="col1 xx"><h2><br>STATE:</h2>
                    </div>  
                <div class="col2 xx">
                    <select class="sc"> 
                        <option value="TAMIL NADU">TAMIL NADU</option>
                        <option value="KERALA">KERALA</option>
                        <option value="ANDHRA">ANDHRA</option>
                        <option value="KARNATAKA">KARNATAKA</option>
                        <option value="TELUGANA">TELUGANA</option>
                        <option value="MAHARASHTRA">MAHARASHTRA</option>
                        <option value="MADHYA">MADHYA</option>
                        <option value="ODISHA">ODISHA</option>
                        </select></div>
                    </div> </div><br>


                    <div class="part8 xx">
                <div class="row8 xx">  <div class="col1 xx"><h2><br>CITY:</h2></div>   
                <div class="col2 xx ">
                    <select class="sc"> 
                        <option value="Chennai">Chennai</option>
                        <option value="Vellore">Vellore</option>
                        <option value="Coimbatore">Coimbatore</option>
                        <option value="Madurai">Madurai</option>
                        <option value="Kanyakumari">Kanyakumari</option>
                        <option value="Salem">Salem</option>
                        <option value="Puducherry">Puducherry</option>
                        <option value="Kanchipuram">Kanchipuram</option>
                        </select> </div>
                    </div></div><br>


        <div class="part9 xx">
                <div class="row9 xx">  
                    <div class="col1 xx"><h2><br>ADDRESS:</h2></div>   <div class="col2 xx"><input type="address" placeholder="ADDRESS" class="al"> </div>
            </div></div><br>
            <div class="part14 xx">
                <div class="row14 xx"> 
                     <div class="col1  xx"><h2><br>POSATL CODE:</h2></div>   <div class="col2 xx"><input type="number" placeholder="POSTAL CODE" class="al"></div>
                    </div>
                    </div><br>


           
                    
                


            <div class="part12 xx">
                <div class="row12 xx">  
                    <div class="col1 xx"><h2><br>HOBBIES:</h2></div>   <div class="col2 xx">
                    <input type="checkbox" value="dance" class="cc"></h2>dance</h2>
                    <input type="checkbox" value="art" class="cc"></h2>art</h2>
                    <input type="checkbox" value="singing" class="cc"></h2>singing</h2>
                    <input type="checkbox" value="reading books" class="cc"></h2>reading books</h2></div>
                </div></div><br>


                <div class="part13 xx">
                <div class="row13 xx">  
                    <div class="col1 xx"><h2><br>SCHOOL NAME:</h2></div>   <div class="col2 xx"><input type="name" placeholder="SCHOOL NAME" class="al"></div>
                </div></div><br>

                <div class="part14 xx">
                <div class="row14 xx"> 
                     <div class="col1  xx"><h2><br>POSATL CODE:</h2></div>   <div class="col2 xx"><input type="number" placeholder="POSTAL CODE" class="al"></div>
                    </div>
                    </div><br>

                    <div class="part15 ">
                <div class="row15 xx">  
                    <div class="col1 xx"><h2><br>MARKSHEET TYPE:</h2></div>   
                <div class="col2">
                    <select>                                
                        <option value="10th marsheet"> 10th marsheet</option>
                        <option value="12th marksheet">12th marsheet</option>
                    </select><input type="file" name="files" class="ff" ><input type="button" value="upload" name="upload" class="upload">  
                    </div>
                </div>   
                </div><br>

                <div class="part16 xx">
                            
                        <br><input type="submit" value="submit" name="submit" class="submit"><br><br>
                    </div>
                       </div>             
                                
                                        
                                            
                    
            <script src="bootstrap/js/bootstrap.min.js"></script>
            <script src="bootstrap/js/jquery.min.js"></script>
        </body>
        </html>

      