{% extends 'Iris/layout.html' %}
{% block title %}IRIS{% endblock %}
{% block styleblock %}
  <style type="text/css">
   
  
   
  </style>
{% endblock %}
{% block content %}
<div class="container">

        <!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
            
    </div>
    
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="static\images\ban1.webp" alt="Los Angeles" class="d-block" style="width:100%">
      </div>
      <div class="carousel-item">
        <img src="static\images\ban2.webp" alt="Chicago" class="d-block" style="width:100%">
      </div>
      <div class="carousel-item">
        <img src="static\images\ban3.gif" alt="New York" class="d-block" style="width:100%">
      </div>
      <!-- <div class="carousel-item">
        <img src="static\images\ban4.gif" alt="New York" class="d-block" style="width:100%">
      </div>
 -->      <div class="carousel-item">
        <img src="static\images\ban5.webp" alt="New York" class="d-block" style="width:100%">
      </div>
      <div class="carousel-item">
        <img src="static\images\ban6.gif" alt="New York" class="d-block" style="width:100%">
      </div>
    </div>
    
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>

<br />
<br />
<hr>

<h3 class="text-center" style="font-family:monotone;">OUR HOT SELLING OFFERS</h3><br><br>
<div id="demo2" class="carousel slide" data-bs-ride="carousel"style="width:100%;height:380px">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo2" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo2" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo2" data-bs-slide-to="2"></button>
      <button type="button" data-bs-target="#demo2" data-bs-slide-to="3"></button>
      <button type="button" data-bs-target="#demo2" data-bs-slide-to="4"></button>
      <button type="button" data-bs-target="#demo2" data-bs-slide-to="5"></button>
      <button type="button" data-bs-target="#demo2" data-bs-slide-to="6"></button>
      <button type="button" data-bs-target="#demo2" data-bs-slide-to="7"></button>
      <button type="button" data-bs-target="#demo2" data-bs-slide-to="8"></button>
      <button type="button" data-bs-target="#demo2" data-bs-slide-to="9"></button>
            
    </div>
    
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="static\images\6.jpg" alt="a" class="d-block" style="width:100%;height:380px">
        
      </div>
      <div class="carousel-item">
        <img src="static\images\2.jpg" alt="b" class="d-block" style="width:100%;height:380px">
      </div>
      <div class="carousel-item">
        <img src="static\images\3.jpg" alt="c" class="d-block" style="width:100%;height:380px">
      </div>
      <div class="carousel-item">
        <img src="static\images\4.jpg" alt="d" class="d-block" style="width:100%;height:380px">
      </div>
      <div class="carousel-item">
        <img src="static\images\5.jpg" alt="e" class="d-block" style="width:100%;height:380px">
      </div>
      <div class="carousel-item">
        <img src="static\images\1.jpg" alt="f" class="d-block" style="width:100%;height:380px">
      </div>
      <div class="carousel-item">
        <img src="static\images\7.jpg" alt="g" class="d-block" style="width:100%;height:380px">
      </div>
      <div class="carousel-item">
        <img src="static\images\8.jpg" alt="h" class="d-block" style="width:100%;height:380px">
      </div>
      <div class="carousel-item">
        <img src="static\images\9.jpg" alt="i" class="d-block" style="width:100%;height:380px">
      </div>
      <div class="carousel-item">
        <img src="static\images\10.jpg" alt="j" class="d-block" style="width:100%;height:380px">
      </div>
    </div>
    
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo2" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo2" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>

<br />
<br />
<hr>
<h3 class="text-center" style="font-family:monotone;">OUR FAMOUS CUSTOMERS</h3><br>
<div class="row row-cols-1 row-cols-md-3  l  ">




    <div class="col ">
                        <div class=" h-75 ">
                            <img src="static/images/cute10.jpg"  style="width:100% ; height:100%;" ><h4 class="text-center">SAINA <br>in<br> Glow Glass Makeup</h4>
                            
                           
                        </div>
                    </div>
                    
                    <div class="col">
                        <div class=" h-75 ">
                            <img src="static/images/cute11.webp"  style="width:100% ; height:100%;"><h4 class="text-center">MIS-QI <br>in<br> Matte Makeup</h4>
                            
                           
                        </div>
                    </div>
                    
                    <div class="col ">
                        <div class=" h-75 ">
                            <img src="static/images/cute12.png"  style="width:100% ; height:100%;"><h4 class="text-center">San-Chan <br>in<br> Wedding Grand Makeup</h4>
                            
                           
                        </div>
                    </div>
                   <!--  <div class="col ">
                       <div class="h-75"> 
                            <img src="static/images/cute1.jpg"  style="width:100% ; height:100%;"><h4 class="text-center">Nila <br>in<br> Bridal Makeup</h4>
                           
                                
                            </div>
                                            </div>
                    <div class="col ">
                        <div class="h-75">
                            <img src="static/images/cute2.jpeg"  style="width:100% ; height:100%;">
                            <h4 class="text-center">NITARA <br>in<br> HD Bride Makeup</h4> 
                           
                               
                           
                        </div>
                    </div> -->
                    <div class="col ">
                        <div class="h-75">
                            <img src="static/images/cute3.webp"  style="width:100% ; height:100%;">
                            <h4 class="text-center">TYLA <br>in<br>Sand Shade Look</h4>
                           
                                
                            
                        </div>
                    </div>

                 <!--    <div class="col ">
                        <div class="h-75">
                            <img src="static/images/cute4.jpeg"  style="width:100% ; height:100%;">
                            <h4 class="text-center">AALIA <br>in<br> Glow Glass makeup</h4>
                           
                                
                            
                        </div>
                    </div> -->
                    <div class="col ">
                        <div class="h-75">
                            <img src="static/images/cute5.webp"  style="width:100% ; height:100%;">
                           <h4 class="text-center">AALIA <br>in<br> Well Suttled Makeup</h4>

                                
                           
                        </div>
                    </div>
                    <div class="col ">
                        <div class="h-75">
                            <img src="static/images/cute6.jpg"  style="width:100% ; height:100%;">
                            <h4 class="text-center">ZAYA <br>in<br> Well Bridal Makeup</h4>
                           
                                                          
                        </div>
                    </div>

                    <div class="col ">
                        <div class="h-75">
                            <img src="static/images/cute77.jpg"  style="width:100% ; height:100%;">
                            <h4 class="text-center">NISHA <br>in<br> HD Bridal Makeup</h4>
                          </div>
                    </div>
                    <div class="col ">
                        <div class="h-75">
                            <img src="static/images/cute8.jpg"  style="width:100% ; height:100%;"><h4 class="text-center">MIS-JA-JIOH <br>in<br> French Bridal Makeup</h4>
                           
                                
                            
                        </div>
                    </div>
                    <div class="col ">
                        <div class=" h-75">
                            <img src="static/images/cute99.jpg"  style="width:100% ; height:100%;">
                            <h4 class="text-center">NITACHI <br>in<br>  Bridal Makeup</h4>
                            
                           
                        </div>
                    </div>
                </div>
            </div>
            


{% endblock %}




{% block scriptblock %}

  


</script>
{% endblock %}